body {
  font-family: Poppins, sans-serif;
}

.strong {
  font-weight: 700;
}

.navigation-top {
  background: #434343;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.navigation-top__hot-keys__item {
  color: inherit;
}

.navigation-top__entry__login, .navigation-top__entry__register {
  color: inherit;
}

.header {
  background: #363636;
  color: #d8d8d8;
}

.header__phone {
  font-weight: 600;
  font-size: 17px;
  color: inherit;
}

.header__phone i {
  color: #d58e32;
  font-size: 44px;
}

.header__basket {
  width: 51px;
  height: 49px;
  background: #d58e32;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
}

.header__basket:hover {
  background: #d57a0e;
}

.header__basket::after {
  content: attr(data-count-items);
  position: absolute;
  top: 50%;
  right: 0;
  min-height: 29px;
  min-width: 29px;
  font-size: 14px;
  font-weight: 500;
  transform: translate(50%, -50%);
  background: #363636;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bottom {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  box-shadow: 0 4px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;
}

.navigation-bottom__search-form {
  width: 227px;
  height: 47px;
  margin: 20px 0 18px;
}

@media (min-width: 768px) {
  .navigation-bottom__search-form {
    width: 320px;
  }
}

.search-form {
  border: 1px solid #000;
  display: flex;
  align-items: stretch;
  background: #fff;
}

.search-form__input {
  padding-left: 16px;
  overflow: hidden;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  color: #a4a4a4;
}

.search-form__submit {
  background: none;
  border: none;
  font-size: 16px;
  color: #2a2a2a;
}

.navbar__menu {
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .navbar__menu {
    margin-top: 110px;
  }
}

.navbar__menu .active {
  background: #d58e32;
  border-top: 4px solid #2a2a2a;
  color: #fff;
}

@media (max-width: 992px) {
  .navbar__menu .active {
    background: none;
    border: 0;
    line-height: 2;
  }
  .navbar__menu .active::after {
    content: '';
    display: inline-block;
    width: 97px;
    height: 1px;
    background: #646464;
  }
}

.navbar__menu__item {
  font-weight: 400;
  border-top: 4px solid #fff;
  color: #2a2a2a;
  font-size: 14px;
  padding: 31px 15px 34px;
}

@media (max-width: 992px) {
  .navbar__menu__item {
    border: 0;
    color: #676767;
    padding: 0 11px;
    text-align: right;
    line-height: 40px;
  }
}

.navbar__menu__item:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .navbar__menu__item:hover {
    background: #d58e32;
    border-top: 4px solid #2a2a2a;
  }
}

.navbar__menu__link {
  color: inherit;
  font-weight: 600;
}

.navbar__menu__link:hover {
  color: inherit;
}

.navbar-toggler {
  line-height: 0;
  padding: 0;
  z-index: 1;
  margin-right: 12px;
}

.navbar-toggler-icon, .navbar-toggler::before, .navbar-toggler::after {
  width: 29px;
  height: 3px;
  background: #000;
  margin: 1px;
  transition: background-color .3s, width .3s, margin .3s;
}

.navbar-toggler::before, .navbar-toggler::after {
  content: '';
  display: block;
  transition: transform .3s;
}

@media (max-width: 991px) {
  .navbar-collapse {
    box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
    background: #363636;
    position: absolute;
    top: 0;
    width: 154px;
  }
}

.navbar {
  position: relative;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon, .navbar-toggler[aria-expanded="true"] .navbar-toggler::before, .navbar-toggler[aria-expanded="true"] .navbar-toggler::after {
  width: 0;
  margin: 0;
}

.navbar-toggler[aria-expanded="true"]::before, .navbar-toggler[aria-expanded="true"]::after {
  content: '';
  background: #fff;
  margin: -3px;
}

.navbar-toggler[aria-expanded="true"]::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"]::after {
  transform: rotate(-45deg);
}

.underline-hover:hover {
  color: inherit;
  text-decoration: underline;
}

.products .products-filter {
  border: 1px solid #676767;
}

.products .products-filter .filter-span {
  font-size: 16px;
}

.products .line-products {
  border: none;
  background-color: black;
  height: 2px;
}

.products .product-card {
  display: none;
  overflow: hidden;
  position: relative;
  max-width: 262px;
  margin: 0 auto 30px;
}

.products .product-card:before {
  content: 'sale';
  display: none;
  z-index: 2;
  left: 50%;
  top: 0;
  width: 40px;
  text-align: center;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  background: #2a2a2a;
  font-size: 12px;
  padding-top: 20px;
  color: white;
}

.products .product-card:hover:before {
  display: block;
}

.products .product-card:hover .product-photo .product-sale {
  display: inline-block;
}

.products .product-card:hover .product-photo .product-button .button-view, .products .product-card:hover .product-photo .product-button .button-card {
  display: block;
  text-decoration: none;
  border: none;
}

.products .product-card:hover .product-photo .product-button .button-view:focus, .products .product-card:hover .product-photo .product-button .button-card:focus {
  outline: none;
}

.products .product-card:hover .product-photo .product-button .button-view:hover {
  background: #d58e32;
}

.products .product-card:hover .product-photo .product-button .button-card:hover {
  background: #d58e32;
}

.products .product-card:hover .info-products .product-cost {
  background: #d58e32;
}

.products .product-card .product-photo {
  background: #f4f5f7;
  min-height: 260px;
  position: relative;
}

.products .product-card .product-photo img {
  height: 260px;
}

.products .product-card .product-button .button-view, .products .product-card .product-button .button-card {
  position: absolute;
  display: none;
  top: 228px;
  background: #2a2a2a;
  color: white;
  font-size: 16px;
}

.products .product-card .product-button .button-card {
  left: 115px;
}

.products .product-card .info-products {
  box-sizing: border-box;
  border: 1px solid #f4f5f7;
  border-top: none;
}

.products .product-card .info-products-title {
  color: #d58e32;
}

.products .product-card .info-products-slide .slide-hr {
  border: none;
  height: 1px;
  background: #676767;
  position: relative;
}

.products .product-card .info-products-slide .slide-hr:before {
  content: '';
  width: 30px;
  height: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #d58e32;
}

.products .product-card .info-products-actions .action-like, .products .product-card .info-products-actions .action-rewind {
  border: 1px solid #2a2a2a;
  padding: 4px 0;
}

.products .product-card .info-products .product-cost {
  background: #2a2a2a;
  padding: 4px 0;
}

.filter-block .filter-title {
  font-size: 14px;
  font-weight: bold;
}

.filter-block .filter-line {
  background: #2a2a2a;
}

.filter-block .default-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-block .filter-quantity {
  padding: 1px 9px;
  background: #2a2a2a;
  border-radius: 50%;
}

.filter-block .checkbox-categories:checked + .checkbox-label-categories {
  color: #d58e32;
}

.filter-block .checkbox-categories:checked + .checkbox-label-categories > .filter-quantity {
  background-color: #d58e32;
}

@media screen and (min-width: 1200px) {
  .filter-block .filter-title {
    font-size: 20px;
  }
}

.price-filter .price-inner-button {
  background: #d58e32;
}

.price-filter .input-price-text {
  font-size: 14px;
  width: 80px;
  border: 1px solid;
}

.ui-slider-range {
  background-color: black !important;
}

.ui-slider-handle {
  border-radius: 50% !important;
  border: 3px solid #d58e32 !important;
  background: white !important;
  width: 25px !important;
  height: 25px !important;
  top: -7px !important;
}

.ui-slider-handle:active {
  background-color: #d58e32;
  border: none;
}

.ui-slider-handle:focus {
  outline: none;
}

.color-filter .color-checkbox {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
}

.color-filter .color-checkbox--red {
  background: red;
}

.color-filter .color-checkbox--blue {
  background: blue;
}

.color-filter .color-checkbox--black {
  background: black;
}

.color-filter .color-checkbox--yellow {
  background: yellow;
}

.color-filter .color-checkbox--pink {
  background: pink;
}

.color-filter .color-checkbox--green {
  background: green;
}

.color-filter .color-checkbox .check {
  position: absolute;
  transform: translate(-45%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  opacity: 0;
}

.color-filter .color-text {
  font-size: 18px;
}

.checkbox-color:checked + .checkbox-label__color .color-text {
  color: #d58e32;
}

.checkbox-color:checked + .checkbox-label__color .check {
  opacity: 1;
}

.size-filter .size-checkbox {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  border: 1px solid black;
}

.size-filter .size-checkbox .check-size {
  position: absolute;
  transform: translate(-45%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  color: white;
  opacity: 0;
}

.size-filter .checkbox-size:checked + .checkbox-label__size .size-checkbox {
  background: #d58e32;
  border: none;
}

.size-filter .checkbox-size:checked + .checkbox-label__size .check-size {
  opacity: 1;
}

.size-filter .checkbox-size:checked + .checkbox-label__size .text-size {
  color: #d58e32;
}

.size-filter .checkbox-size:checked + .checkbox-label__size .filter-quantity {
  background: #d58e32;
}

.filter-tags__list {
  flex-wrap: wrap;
}

.filter-tags .filter-tags__icon, .filter-tags .text-tags {
  color: #afafaf;
}

.filter-tags .checkbox-tags:checked + .checkbox-label__tags,
.filter-tags .checkbox-tags:checked + .checkbox-label__tags .filter-tags__icon,
.filter-tags .checkbox-tags:checked + .checkbox-label__tags .text-tags {
  color: #d58e32;
  border-color: #d58e32 !important;
}

.icon-reload {
  display: inline-block;
  background: #eeeeee;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0px 7px 15px 0px #4f4f4f;
  outline: none;
}

.modal {
  overflow: hidden;
}

.modal .button-close {
  background: black;
  position: absolute;
  opacity: 1;
  padding: 5px 10px 10px 10px;
}

.modal .button-close:focus {
  outline: none;
}

.modal .button-close:active {
  outline: none;
}

.modal .modal-content {
  background: white;
}

@media (min-width: 480px) {
  .modal-filter {
    left: 50%;
    transform: translateX(-50%);
  }
}

.modal-show__title {
  font-size: 20px;
}

.modal-show .img-container {
  width: 260px;
  min-height: 250px;
  background: #f4f5f7;
  position: relative;
}

.modal-show .img-container img {
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-show .button-card-modal {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.modal-show .button-card-modal:hover {
  background: #d58e32 !important;
}

.modal-show .old-price {
  color: #7b7b7b;
}

.modal-show .text-modal-card {
  color: #7b7b7b;
  line-height: 20px;
}

.modal-show .action-like {
  padding: 2px;
  border: 1px solid black;
}

.modal-show .modal-show-info {
  font-size: 14px;
}

.modal-show .btn-show {
  color: #363636;
  border: 1px solid #2a2a2a;
  padding: 6px 3px;
  background: white;
  outline: none;
}

.modal-show .btn-show:hover {
  text-decoration: none;
}

.modal-show .btn-show:not(:last-child) {
  margin-right: 5px;
}

.modal-show .btn-show .fa-facebook-f {
  color: #3b5998;
}

.modal-show .btn-show .fa-google-plus-g {
  color: #d62d20;
}

.modal-show .btn-show .fa-twitter {
  color: #4099ff;
}

.modal-show .btn-show .fa-pinterest-p {
  color: #c92228;
}

.modal-show .btn-show .fa-linkedin-in {
  color: #0077b5;
}

.modal-show .btn-facebook:hover {
  color: white;
  background: #3b5998;
  border-color: #3b5998;
}

.modal-show .btn-facebook:hover > * {
  color: white;
}

.modal-show .btn-google:hover {
  color: white;
  background: #d62d20;
  border-color: #d62d20;
}

.modal-show .btn-google:hover > * {
  color: white;
}

.modal-show .btn-twitter:hover {
  color: white;
  background: #4099ff;
  border-color: #4099ff;
}

.modal-show .btn-twitter:hover > * {
  color: white;
}

.modal-show .btn-pinterest:hover {
  color: white;
  background: #c92228;
  border-color: #c92228;
}

.modal-show .btn-pinterest:hover > * {
  color: white;
}

.modal-show .btn-linkedin:hover {
  color: white;
  background: #0077b5;
  border-color: #0077b5;
}

.modal-show .btn-linkedin:hover > * {
  color: white;
}

@media screen and (min-width: 768px) {
  .modal-show {
    min-width: 750px;
  }
  .modal-show__title {
    font-size: 22px;
  }
  .modal-show .img-container {
    width: 307px;
    min-height: 286px;
  }
  .modal-show .img-container img {
    height: 286px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-show {
    min-width: 1120px;
    font-size: 18px;
  }
  .modal-show__title {
    font-size: 26px;
  }
  .modal-show .img-container {
    width: 430px;
    min-height: 400px;
  }
  .modal-show .img-container img {
    height: 400px;
  }
}

.subscription {
  background: #363636;
}

.subscription .sub-title {
  padding-bottom: 10px;
}

.subscription .sub-link > * {
  display: block;
  color: #676767;
}

.subscription .sub-link > *:hover {
  text-decoration: underline;
}

.subscription .footer-card {
  padding-bottom: 10px;
}

.subscription .text-70-white {
  color: #676767;
}

.subscription .text-70-white > * {
  padding-bottom: 10px;
}

.subscription .text-70-white > *:last-child {
  padding-bottom: 30px;
}

.footer > * {
  color: #676767;
}

.footer .fab:hover {
  color: #d58e32;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 18px;
  }
}

.blog .title-blog {
  color: #d58e32;
  font-size: 24px;
}

.blog .carousel-hr .indicator-blog {
  background: #e2e2e2;
  height: 2px;
  width: 100%;
}

.blog .carousel-hr .active {
  background: #d58e32;
}

.blog .array {
  padding-top: 3px;
}

.blog .carousel-control-prev, .blog .carousel-control-next {
  position: relative;
  color: black;
  opacity: 1;
  width: 46%;
  padding: 2px 0;
}

.blog .border-angle {
  border: 1px solid black;
  height: 100%;
}

.blog .border-angle:hover {
  color: white;
  border-color: #d58e32;
  background: #d58e32;
}

.blog .circle-blog {
  display: inline-block;
  border-radius: 50%;
  background: #e2e2e2;
}

.blog .array-block .carousel-control-next {
  color: black;
}

.blog .pic-1 {
  background-image: url("../../img/1.jpg");
}

.blog .pic-2 {
  background-image: url("../../img/2.jpg");
}

.blog .pic-3 {
  background-image: url("../../img/3.jpg");
}

.blog .pic-4 {
  background-image: url("../../img/4.jpg");
}

.blog .pic-5 {
  background-image: url("../../img/5.jpg");
}

.blog .pic-6 {
  background-image: url("../../img/6.jpg");
}

.blog .pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 140px;
}

.blog .pic:hover .connection {
  background: #d58e32;
}

.blog .pic .connection {
  background: white;
}

.blog .description-title {
  color: #d58e32;
}

.blog .description-text {
  color: #676767;
}

.blog .description-button {
  background: #363636;
}

.blog .description-button:hover {
  background: #d58e32;
}

.blog .description-button > * {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .blog .title-blog {
    font-size: 26px;
  }
  .carousel-hr .indicator-blog {
    background: #e2e2e2;
    height: 2px;
    width: 100%;
  }
  .carousel-hr .active {
    background: #d58e32;
  }
  .connection {
    font-size: 14px;
  }
  .circle-blog {
    height: 14px;
    margin-bottom: 7px;
  }
  .circle .active {
    background: #d58e32;
  }
}

@media (min-width: 1200px) {
  .blog .title-blog {
    font-size: 32px;
  }
  .circle-blog {
    height: 20px;
    width: 20px;
  }
}

.subscribe {
  background: #f2f2f2;
}

.subscribe-title {
  color: #d58e32;
  font-size: 18px;
}

.subscribe-mail {
  background: white;
  padding: 10px;
}

.subscribe-mail .fas {
  padding-right: 10px;
  border-right: 1px solid #676767;
}

.subscribe-mail .subscribe-input {
  border: none;
}

.subscribe-arrow {
  background: white;
  padding: 10px;
}

.subscribe .fas {
  color: #d58e32;
}

@media (min-width: 1200px) {
  .subscribe-title {
    font-size: 22px;
  }
}

.top-slider__area {
  background: #2a2a2a;
  width: 100%;
  height: 302px;
}

@media (min-width: 768px) {
  .top-slider__area {
    height: 505px;
  }
}

.top-slider__area__title {
  line-height: 1;
  margin: 0;
  font-size: 36px;
  font-weight: 200;
}

@media (min-width: 768px) {
  .top-slider__area__title {
    font-size: 54px;
  }
  .top-slider__area__title--strong {
    font-weight: 700;
  }
}

.top-slider__area__description {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 36px;
}

@media (min-width: 768px) {
  .top-slider__area__description {
    font-size: 24px;
  }
}

.top-slider__area__btn {
  padding: 21px 30px;
  background: #fff;
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .top-slider__area__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.top-slider__area img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-slider__area__content {
  text-align: center;
  position: absolute;
  top: calc(50% - 20px);
  width: calc(100% - 28px);
  left: 50%;
  height: 212px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 14px;
  z-index: 0;
}

@media (min-width: 768px) {
  .top-slider__area__content {
    height: 214px;
  }
}

.play-controls {
  background: #2a2a2a;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 39px;
}

.play-controls__control {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.play-controls__control:hover {
  text-decoration: none;
  color: #fff;
  background: #d58e32;
}

.our-features {
  margin-bottom: 80px;
}

@media (min-width: 1200px) {
  .our-features {
    margin-bottom: 30px;
  }
}

.our-features__feature {
  margin: 0 auto;
  color: #2a2a2a;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  text-align: center;
  max-width: 263px;
  width: 100%;
  font-weight: 300;
  padding: 52px 0 22px;
  margin: 70px auto 30px;
  position: relative;
}

.our-features__feature__icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 7px;
  border: 2px solid #d9d9d9;
  border-radius: 100%;
}

.our-features__feature__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  font-size: 26px;
  width: 62px;
  height: 62px;
}

.our-features__feature__title {
  font-weight: 600;
  font-size: 20px;
  color: inherit;
}

.our-features__feature__description {
  font-size: 20px;
  color: inherit;
}

.our-features__feature:hover {
  color: #e0a38e;
}

.our-features__feature:hover i {
  background-color: #d58e32;
  color: #fff;
}

.benefits .container:first-child {
  padding: 0;
}

.benefits .bg-sofa {
  background-image: url("../../img/stocks_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefits .bg-sofa .inner-sofa {
  background-color: rgba(0, 0, 0, 0.4);
}

.benefits .bg-sofa .inner-sofa > * {
  margin: 0;
}

.benefits .bg-sofa .inner-sofa .sale-sofa {
  margin-top: 12px;
  font-size: 50px;
  border: 5px solid white;
}

.benefits .bg-chair {
  background-color: #e8edf7;
  overflow: hidden;
}

.benefits .bg-chair .chair-1 {
  position: absolute;
  left: -10px;
  top: -30px;
}

.benefits .bg-chair .chair-1 .chair-black {
  width: 140px;
}

.benefits .bg-chair .chair-2 {
  position: absolute;
  transform: scaleX(-1);
  right: 5px;
}

.benefits .bg-chair .chair-2 .chair-orange {
  width: 120px;
}

.benefits .bg-chair .info-chair > * {
  margin: 0;
}

.benefits .bg-chair .info-chair .text-chair {
  font-size: 14px;
  letter-spacing: 3px;
}

.benefits .bg-chair .info-chair .cost-chair {
  color: #d58e32;
  font-size: 32px;
}

.benefits .bg-bed {
  background-color: #fbf3f7;
  overflow: hidden;
}

.benefits .bg-bed .bed {
  position: absolute;
  transform: scaleX(-1);
}

.benefits .bg-bed .bed .bed-img {
  max-width: 220px;
}

.benefits .bg-bed .title-bed {
  color: #d58e32;
}

.benefits .bg-bed .text-bed {
  font-size: 16px;
  color: black;
}

@media (min-width: 768px) {
  .benefits .bg-sofa {
    padding: 50px;
  }
  .benefits .bg-sofa .inner-sofa {
    padding: 150px 0 20px 20px;
  }
  .benefits .bg-sofa .inner-sofa > * {
    font-size: 45px;
  }
  .benefits .bg-chair {
    padding-bottom: 15px;
  }
  .benefits .bg-chair .chair-1 {
    left: -15px;
    top: -40px;
  }
  .benefits .bg-chair .chair-1 .chair-black {
    width: 200px;
  }
  .benefits .bg-chair .chair-2 {
    right: -5px;
  }
  .benefits .bg-chair .chair-2 .chair-orange {
    width: 180px;
  }
  .benefits .bg-chair .info-chair .title-chair {
    font-size: 45px;
  }
  .benefits .bg-chair .info-chair .text-chair {
    font-size: 20px;
    letter-spacing: 4px;
  }
  .benefits .bg-chair .info-chair .cost-chair {
    font-size: 38px;
  }
  .benefits .bg-bed .bed .bed-img {
    max-width: 280px;
  }
  .benefits .bg-bed .title-bed {
    margin-top: 10px;
    font-size: 30px;
  }
  .benefits .bg-bed .text-bed {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .benefits .bg-sofa {
    padding: 30px;
  }
  .benefits .bg-sofa .inner-sofa {
    padding: 110px 0 20px 20px;
  }
  .benefits .bg-sofa .inner-sofa > * {
    font-size: 36px;
  }
  .benefits .bg-chair .chair-1 .chair-black {
    width: 190px;
  }
  .benefits .bg-chair .chair-2 .chair-orange {
    width: 160px;
  }
  .benefits .bg-chair .info-chair .title-chair {
    font-size: 34px;
  }
  .benefits .bg-chair .info-chair .cost-chair {
    font-size: 38px;
  }
  .benefits .bg-bed .bed {
    top: -12px;
  }
  .benefits .bg-bed .bed .bed-img {
    max-width: 270px;
  }
  .benefits .bg-bed .title-bed {
    font-size: 24px;
  }
  .benefits .bg-bed .text-bed {
    font-size: 18px;
  }
}

.gallery__title {
  text-transform: uppercase;
  color: #d58e32;
  font-size: 20px;
  font-weight: 600;
}

.gallery__title::after {
  content: '';
  display: block;
  height: 3px;
  margin-top: 13px;
  background: linear-gradient(90deg, #d58e32 44px, #e2e2e2 0);
}

.gallery__tabs {
  border-bottom: 0;
}

.gallery__tabs__link {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.gallery__tabs__link.nav-link {
  border: 1px solid #e2e2e2;
  border-radius: 0;
}

.gallery__tabs__link.nav-link:hover {
  color: #d58e32;
}

.gallery__tabs__link.nav-link.active {
  background-color: #f4f5f7;
  border-radius: 0;
  border: 0;
  border-top: 3px solid #d58e32;
  color: #d58e32;
}

.inner-gallery__content {
  background-color: #f4f5f7;
  overflow: hidden;
  height: 410px;
  border: 1px solid #e5e5e5;
}

.inner-gallery__tabs {
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.inner-gallery__tabs__button {
  color: #b08373;
  background: #2a2a2a;
  border: 0;
  font-size: 13px;
  width: 33px;
  flex: none;
}

.inner-gallery__tabs img {
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #cccccc;
  opacity: .5;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: 0 3px;
}

.inner-gallery__tabs img.active {
  opacity: 1;
}

.like, .view, .toCard {
  font-size: 16px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  width: 37px;
  height: 37px;
  background: transparent;
  z-index: 1;
  transition: color .4s, border-color .4s;
}

.like:hover, .like.active, .view.active, .toCard.active, .view:hover, .toCard:hover {
  text-decoration: none;
  color: #d58e32;
  border-color: #d58e32;
}

.roundPrice {
  width: 105px;
  height: 105px;
  background: #00000080;
  border-radius: 50%;
  bottom: 22px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .roundPrice {
    left: auto;
    right: 73px;
    bottom: 123px;
  }
}

.roundPrice__currentPrice::before {
  content: '$';
}

.roundPrice__lastPrice {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 200;
  text-decoration: line-through;
}

.roundPrice__lastPrice::before {
  content: '$';
}

.aboutItem {
  width: 249px;
  height: 106px;
  box-shadow: 0 3px 6px rgba(1, 2, 2, 0.24);
  position: absolute;
  left: 80px;
  font-weight: 600;
  bottom: 22px;
  background: #fff;
}

@media (min-width: 768px) {
  .aboutItem {
    left: auto;
    right: 0;
  }
}

.aboutItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  display: block;
  box-sizing: border-box;
  border: 15px solid;
  color: #2a2a2a;
  border-color: #2a2a2a transparent transparent #2a2a2a;
}

.aboutItem::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 29px;
  height: 29px;
  display: block;
  box-sizing: border-box;
  border: 15px solid;
  border-color: transparent #2a2a2a #2a2a2a transparent;
}

.aboutItem__title {
  font-size: 16px;
  text-align: center;
  margin-top: 32px;
  color: inherit;
}

.aboutItem__rate {
  text-align: center;
  color: inherit;
}

.itemImage {
  position: absolute;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 9px;
  right: 0;
}

@media (min-width: 768px) {
  .itemImage {
    right: 73px;
  }
}

.galleryBanner {
  height: 100%;
  color: #2a2a2a;
  font-size: 18px;
  position: relative;
  padding: 70px 62px;
  background: #e8edf7 url("../../img/galleryBunner__sofa.png") center bottom 30px no-repeat;
}

.galleryBanner__image {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.galleryBanner__top {
  text-transform: uppercase;
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 600;
}

.galleryBanner__top .price {
  color: #79ae30;
  font-size: 48px;
  margin-bottom: 23px;
}

.galleryBanner__top .price::before {
  content: '$';
}

.galleryBanner__title {
  color: #d58e32;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 35px;
}

.galleryBanner__btn {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #79ae30;
  padding: 21px 32px;
}

.modal h5 {
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 600;
}

.modal .btn-primary {
  background-color: #2a2a2a;
  border-color: #2a2a2a;
  box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);
}

.modal .btn-primary:hover {
  background-color: #d58e32;
}

.modal .btn-primary:focus {
  outline-color: #636363;
}

.modal .close-primary {
  background-color: #2a2a2a;
  width: 41px;
  height: 37px;
}

.modal .close-primary:hover {
  background-color: #d58e32;
}

.modal input {
  height: 51px;
  padding: 0 13px;
}

.modal input::-webkit-input-placeholder {
  line-height: 100%;
  font-size: 14px;
  color: #676767;
}

.modal input::-moz-placeholder {
  line-height: 100%;
  font-size: 14px;
  color: #676767;
}

.modal input:-ms-input-placeholder {
  line-height: 100%;
  font-size: 14px;
  color: #676767;
}

.modal input::-ms-input-placeholder {
  line-height: 100%;
  font-size: 14px;
  color: #676767;
}

.modal input::placeholder {
  line-height: 100%;
  font-size: 14px;
  color: #676767;
}

#baskedModal .modal-dialog {
  max-width: 100%;
}

#baskedModal .cardIsEmpty {
  color: #939393;
}

#baskedModal .cardIsEmpty__title {
  font-size: 48px;
  font-weight: 600;
  color: inherit;
}

#baskedModal .cardIsEmpty__description {
  font-size: 30px;
  font-weight: 100;
  line-height: 52.71px;
}

#baskedModal .cardItems .example {
  display: none;
}

#baskedModal .cardItems__item__title {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 600;
}

#baskedModal .cardItems__item__price {
  line-height: 37px;
}

#baskedModal .cardItems__item__price .lastPrice::before, #baskedModal .cardItems__item__price .currentPrice::before {
  content: '$';
}

#baskedModal .cardItems__item__price .lastPrice {
  font-size: 20px;
  color: #939393;
  font-weight: 300;
}

#baskedModal .cardItems__item__price .currentPrice {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  background-color: #2a2a2a;
}

#baskedModal .quantity__name {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 500;
}

#baskedModal .quantity__itemCount {
  width: 73px;
  height: 37px;
  text-align: center;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: transparent;
}

#baskedModal .quantity__plus, #baskedModal .quantity__minus {
  background-color: transparent;
  border: 1px solid #2a2a2a;
  line-height: 100%;
  text-align: center;
  width: 40px;
  height: 37px;
}

#baskedModal .quantity__plus:hover, #baskedModal .quantity__minus:hover {
  border-color: #d58e32;
  color: #d58e32;
}

#baskedModal .quantity__plus:focus, #baskedModal .quantity__minus:focus {
  outline-color: #d58e32;
}

#baskedModal .sum__title {
  color: #939393;
  font-weight: 300;
  font-size: 20px;
}

#baskedModal .sum__price {
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 600;
}

#baskedModal .sum__price::before {
  content: '$';
}

#baskedModal .totalPrice {
  font-size: 22px;
  color: #2a2a2a;
}

#baskedModal .totalPrice__value::before {
  content: '$';
}

.modal-footer button {
  font-size: 13px;
  font-weight: 600;
}

.modal-footer button i {
  left: 5px;
  top: 48%;
  transform: translateY(-50%);
}

.modal-footer__continue {
  background-color: #939393;
}

.modal-footer__buyNow {
  background-color: #d58e32;
}
